*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1,h2,h3{
    color: #004765;
}

nav{
    background: #ff9e16;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #004765;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #fff;
}
li a:hover{
    background-color: #004765;
    transition: .5s;
    color: #fff;
}
li a:active{
    background-color: #004765;
    color: #fff;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#map{
    height: 80vh;
    width: 80%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.index-flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .index-flex1 img {
    max-width: 100%;
  }

p{
    width: 80%;
    line-height: 25px;
}

.google-btn {
    background-color: #004765;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
}
.google-btn:hover {
    background-color: #00364d;
}

#google-maps{
    background-color: #004765;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.yellow-bg{
    background-color: #ff9e16;
    color: #004765;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

h1 {
	font-size: 50px;
	padding: 30px 10px;
}
h2 {
	padding: 10px;
	font-size: 30px;
}

#google-maps {
	margin: 5px 15px;
}
.google-btn {
	margin: 5px 15px;
}

footer {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: left;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.presentacion .body img{
    margin: 15px 0px;
}

.enlaces h3{
    margin: 20px;
}

.enlaces h3 a{
    word-wrap: break-word;
}

.detalle h3,li{
    margin: 20px;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ff9e16;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: #004765;
        color: #fff;
    }
    #check:checked ~ ul{
        left:0;
    }
    #map{
        height: 80vh;
        width: 100%;
    }
    #google-maps {
        margin: 5px 15px;
        display: block;
    }
    .google-btn {
        margin: 5px 15px;
        display: block;
    }
    .presentacion h1 {
        font-size: 20px;
        margin: 5px;
      }
}

